<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
	<connectionStrings>
		<add name="LibraryBase" connectionString="metadata=res://*/Model.ModelLibrary.csdl|res://*/Model.ModelLibrary.ssdl|res://*/Model.ModelLibrary.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.137.203.94,1433\SQLEXPRESS;initial catalog=20.102к-06-СерсисПК;user id=20.102k-06;password=1245780369;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>